nav{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    padding: 8px 8px;
}


.nav-mid{
    display: flex;
    justify-content: space-between;
    list-style: none;
    gap: 10px;
    color: #575757;
}

.cmn-btn{
    background-color: #1d4ed8;
    font-weight: bold;
    color: white;
    font-size: 20px;
    width: 200px;
    height: 50px;
    border-radius: 5px;
    border: none;
    
}